header {
    background-color: #2C3E50;
}

.navbar-brand img {
    height: auto; 
    width: 400px;
}

@media (max-width: 768px) {
    .navbar-brand img {
        width: 300px;
    }
}

@media (max-width: 576px) {
    .navbar-brand img {
        width: 200px;
    }
}

.navbar {
    padding-bottom: 0;
}

.navbar-collapse {
    
    justify-content: center;
}

.navbar-nav {
    align-items: flex-start;
    flex-basis: auto;
    width: 100%;
    justify-content: center;
}

.navbar-nav .nav-link {
    color: black;
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.navbar-nav .nav-link:hover {
    background-color: #3D5A80;
    color: white;
}


.navbar-toggler {
    display: block;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

footer {
    background-color: #2C3E50;
    color: white;
    height: 500px;
    text-align: center;
}

main {
    background-color: #ADACAC;
}